.nav-bar {
  margin-top: 20px;
  background-color: #fbffe6;
  box-shadow: -3px 1px 20px 0 #000;
}

.header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #fbffe6;
  background-image: -webkit-linear-gradient(270deg, #fb8547, #fbffe6);
  background-image: linear-gradient(180deg, #fb8547, #fbffe6);
}

.header-logo {
  display: block;
  margin: -139px auto -150px;
  padding-top: 0px;
}

.header-tagline {
  color: #6a486b;
  text-align: center;
}

.categories {
  margin-top: -9px;
  background-color: #fbffe6;
}

.footer {
  background-color: #fbffe6;
}

.footer-nav {
  background-color: #fbffe6;
}
